*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F8F9FA;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    position: relative;
}
.music__content {
    width: 443px;
    margin: 5% auto;
}
.music__dashboard {
    position: fixed;
    width: 443px;
    z-index: 1;
    background-image: url('../assets/img/theme.jpg');
    background-size: cover;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    text-align: center;
    padding: 5px 15px;
}
/* Music header */
.music__header {
    width: 90%;
    margin: 10px auto;
}
.music__header h4 {
    color: #EC1F55;
}
.music__header p {
    color: #BAC3CB;
    font-size: 0.75rem;
}
/* Music CD */
.music__cd {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url('../assets/img/song1.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
/* MUSIC BUTTON */
.music__button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;    
}
.music__button i {
    font-size: 1.5rem;
    width : 50px;
    height: 50px;
    padding: 15px 0;
}
.music__button .active {
    color: #EC1F55;
}
.music__button .icon-play {
    background-color: #EC1F55;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.music__button i:hover {
    cursor: pointer;
    opacity: 0.6;
}
#volume {
    width: 50px;
    height: 6px;
}
.music__volume {
    padding-top: 12px;
}
.progress {
    width: 90%;
    height: 6px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.progress::-webkit-slider-thumb {
    border-radius: 5px;
    height: 6px;
    cursor: pointer;
}
#progress .progress__time {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}
/* MUSIC PLAYLIST */
.music__playlist {
    position: absolute;
    top: 450px;
    width: 443px; 
}
.music__song {
    background-image: url('../assets/img/theme_song.png');
    background-size: cover;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music__playlist .active {
    background-image: url('../assets/img/purpletheme.jpg');
    color: white;
}
.active .fa-heart {
    opacity: 1;
    color: white;
}
.option .actived {
    color: #EC1F55;
    opacity: 1;
}
.active .option .actived {
    color: yellow;
}
.active .fa-heart:hover {
    color: yellow;
}
.music__song:hover {
    filter: brightness(105%);
    cursor: pointer;
}
.music__song .music__body {
    display: flex;
    justify-content: space-between;
}
.music__body .music__icon {
    margin: auto;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    margin: 10px 0;
}
.music__body .music__info {
    padding: 10px 5px;
    margin-left: 20px;
}
.music__info h4 {
    font-size: 1rem;
}
.music__info p {
    color: #BAC3CB;
    font-size: 0.75rem;
}
.fa-heart {
    opacity: 0.6;
    color: black;
} 
.fa-heart:hover {
    transform: scale(1.25, 1.25);
    opacity: 1;
    cursor: pointer;
    color: #EC1F55;
}
@media screen and (max-width: 500px) {
    .music__content {
        font-size: 12px;
        width: 100%;
    }
    .music__dashboard {
        width: 100%;
        top: 0;
    }
    .music__playlist {
        width: 100%;
    }
    .music__button {
        width: 100%;
        font-size: 5px;
    }
    .music__volume {
        padding-top: 23px;
    }
}